.feedbackList { 
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.item {
    font-size: 0;
}
.btn {
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: #fff;
}