
.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.name {
    display: inline-flex;
    margin-right: 20px;
}
.deleteBtn {
    display: inline-flex;
    padding: 5px;
    margin-left: 30px;
    border: none;
    border-radius: 3px;

}
.deleteBtn:hover,
.deleteBtn:focus {
    background-color: #1E90FF;
    color: #fff;
}
