.wrapUserMenu {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.userName {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: grey;
    
}

.btn {
    margin-left: 50px;
    padding: 8px 14px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    color: rgb(167, 172, 22);
    background-color: #ebf5fc;
    box-shadow: -2px -2px 5px #ffffff, 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus-visible {
    color: #ebf5fc;
    background-color: #6a9bd8;
  }
  .btn:focus {
    outline: 3px solid #ebf5fc;;
    box-shadow: 0px 0px 0px 6px #6a9bd8;
  } 